
:root{
    --purple:#253D5B;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
#logo{
    height: 200px;
    /* padding: 2px ; */
    border-radius: 10%;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding-top:12rem;
    padding-bottom:1rem;
    margin:8rem 0;
    background:rgba(21, 9, 126, 0.05);
}

.heading span{
    color:var(--purple);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;

}

.btn:hover{
    background:var(--purple);
}
#btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;

}

#btn:hover{
    background:var(--purple);
}

header{
    position: fixed;
    height:auto;
    top:0; left:0; right:0;
    background:#fff;
    padding:1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}



header .navbar a{
    font-size: 2rem;
    padding:0 2.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--purple);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--purple)s;
}

    header #toggler{
        display: none;
    }

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}


.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
    width: 100%;
}

.about .row .content{
    flex:1 1 40rem;
    font-size: large;
    width: 50%;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size:2rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.about .row .image{
    width: 50%;
}
.icons {
    color:var(--purple);
}
.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
    
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}


.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    position: relative;
    bottom: 50px;
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
    position: relative;
    bottom: 60px;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
   
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--purple);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.services .row table{
    position: relative;
    top:10px; left:0; right:0;bottom: 5px;
    background:#fff;
    display: flex;
    width: 50%;
    /* height: auto; */
    border: 10px solid black;
    padding: 0;
    }

.services tr{
    align-items: center;
}
.services .row .content write{
    position: absolute;
    left: 800px;
    right:100px;
    top:450px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    
    
   
    
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--purple);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--purple);
}

.attach1 .containerdiv{
        width: 100%;
        height: 450px;
        border: 2px solid black;
        
        background: #253D5B ;
        margin-top:17%;
}
.attach1 .containerdiv #outerdiv{
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-top: 5%;
    
        
}
.attach1 .containerdiv #outerdiv .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}
.attach1 .containerdiv #outerdiv #box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
    background: #333;
    color: white;
}
.attach1 .containerdiv #outerdiv>#btn{
    display: inline-block;
    margin-top: 3rem;
    border-radius: 5rem;
    background:#333;
    color:white;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.attach1 .containerdiv #outerdiv #btn:hover{
    background:white;
    color: #333;
}



.attach2 .containerdiv{
        width: 100%;
        height: 450px;
        border: 2px solid black;
        
        background: #253D5B ;
        margin-top:17%;
}
.attach2 .containerdiv #outerdiv{
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-top: 2%;
    
        
}
.attach2 .containerdiv #outerdiv .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.6rem 0;
    margin-left: 6px;
    width: 80%;
    background: white;
}
.attach2 .containerdiv #outerdiv #box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 15%;
    background: #333;
    color: white;
    float: left;
}
.attach2 .containerdiv #outerdiv>#btn{
    display: inline-block;
    margin-top: .5rem;
    border-radius: 5rem;
    background:#333;
    color:white;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.attach2 .containerdiv #outerdiv #btn:hover{
    background:white;
    color: #333;
}
.home .container{
    width: 100%;
    height: 400px;
    margin-top: 20%;
    background: var(--purple);
}
.home .container .formWindow {
    width:60%;
    height: auto;
    float: right;
    margin-top: 30px;
    
    /* visibility:hidden; */
}
#bookbtn ,#btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:white;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 10px;
}
#bookbtn:hover,#btn:hover{
    background: white;
color: #333;
}

.home .container #buttons {
    width:40%;
    height: auto;
    float: left;
    margin-top: 10%;
}
.home .container .formWindow .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 80%;
    float: right;
    background: white;
    color: #333;
    float: left;
}
 #proceed{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:white;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    margin-top:5px;
    margin-left:100px;
    
}
#proceed:hover{
    background: white;
    color: #333;
}
/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }
    .attach2 .containerdiv{
        margin-top: 30%;
    }
    .home .container .formWindow{
        margin-top: 10%;
    }
    .home .container{
        margin-top: 30%;
    }
}


@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    .attach2 .containerdiv{
        margin-top: 35%;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
    .attach2 .containerdiv{
        margin-top: 50%;
    }
    

}