<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attach a Vehicle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="vehicleAttachValid.js"></script> -->

</head>

<body>
    <header>

        <!-- <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <div id="logo">
            <img src="./images/logo.png" id="logo">
        </div>

        <nav class="navbar">
            <a href="/user/" class="fas fa-home"> Home</a>
            <a href="/user/about" class="	fas fa-users"> About Us</a>
            <a href="/user/Quotation" class="fas fa-money-check"> Track</a>
            <a href="/user/services" class="fas fa-hand-holding-heart"> Services</a>
            <a href="/user/contact" class="fas fa-headset"> Contact Us</a>
        </nav>

        <div class="icons">


            <a href="Profile.html" class="fas fa-user-circle"></a>
        </div> -->

    </header>
    <section class="attach2" id="attach">
        <%Mobile%>
            <div class="containerdiv">
                <div id="outerdiv">
                    <form action="/user/vehicleAttach2" method="post" enctype="multipart/form-data">
                        <label id="box">Licence</label>
                        <input type="file" name="Image" class="box" required>
                        <label id="box">Insurance</label>
                        <input type="file" name="Image" class="box">
                        <label id="box">RC</label>
                        <input type="file" name="Image" class="box">
                        <label id="box">PUC</label>
                        <input type="file" name="Image" class="box">
                        <label id="box">Fitness</label>
                        <input type="file" name="Image" class="box">
                        <label id="box">Driver Photo</label>
                        <input type="file" name="Image" class="box">

                        <input type="submit" onclick="validation()" id="btn">
                    </form>
                </div>
            </div>



    </section>
    <!-- footer starts -->
    <section class="footer">
        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="/">home</a>
                <a href="/about">about</a>
                <a href="/services">Services</a>
                <a href="/contact">Contact Us</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#">my account</a>
                <a href="#">my booking</a>
                <a href="Profile.html">my profile</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#">+91-7610-188-542</a>
                <a href="#">mariyamburhanuddin4@gmail.com</a>
                <a href="#">Indore, india - 452001</a>
                <!-- <img src="images/payment.png" alt=""> -->
            </div>

        </div>

        <div class="credit"> created by <span> Team Bug Finders</span> | all rights reserved </div>

    </section>
</body>

</html>